@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.will-change {
  will-change: transform;
}


.cursor::after {
  display: block;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  animation: cursor .6s linear infinite alternate;
  will-change: opacity;
}

@keyframes cursor {
  0%, 40% {
    opacity: 1;
  }

  60%, 100% {
    opacity: 0;
  }
}

.parallex {
 position:relative;
 /* z-index: 1; */
}

.parallex h1 p {
  position: relative;
}

.parallex::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../public/projects.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  opacity: 0.25;
  z-index: -1;
}
/* 
.parallex h1 {
  font-size: 55px;
  font-weight: 700;
} */


